body {
    color: white;
    font-family: 'IBM Plex Mono', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Mono', monospace;
}


/* 
#banner {
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 50%;
    text-shadow: 1px 1px 1px rgb(17, 109, 0);
} */

.cabecalho {
    background-color: #1e2226;
    /* width: 100%;
    position: fixed;
    top: 0; */
}


/* main {
    padding-top: 4.5em;
} */

.rodape {
    background-color: #1e2226;
}

.rodape .nav .nav-item .navlink,
.active {
    color: #2e0;
    transition: 0.2s;
}

.rodape .nav .nav-item .navlink,
.active:hover {
    color: rgb(22, 145, 0);
}

.meuNome {
    font-family: Arial, Helvetica, sans-serif;
}

.meuNome:hover {
    color: #2e0;
    transition: 0.5s;
}

#menuSite a:hover {
    color: #2e0;
    transition: 0.5s;
}

.h1 {
    font-size: 2rem;
}

.conteudo-principal h3,
h4 {
    text-transform: uppercase;
    font-weight: bolder;
}

.h4,
h4 {
    font-size: 1.2rem;
}

.titulos::before {
    content: '';
    display: inline-block;
    height: 18px;
    width: 3px;
    border-radius: 5px;
    margin-right: 10px;
    background-image: linear-gradient(#DDFF01, #2e0);
}

.meuNome::first-letter {
    color: black;
    border-radius: 5px;
    padding: 0.1em;
    display: inline-block;
    background-image: linear-gradient(#DDFF01, #2e0);
    content: "M";
    font-weight: bold;
    margin-right: 0.1em;
}

.sobre p {
    float: left;
}

section {
    clear: both;
}

p::first-letter {
    font-size: 1.2rem;
    color: #2e0;
    font-weight: bolder;
    content: "";
}

.minha-foto {
    float: right;
}

.minha-foto img {
    border: 0 solid black;
    border-radius: 100%;
    width: 10%;
}

.card {
    position: initial;
}

.card {
    border: none;
}

.btn-links {
    color: white;
    background-image: linear-gradient(to bottom, rgb(0, 89, 255), rgb(0, 60, 255), rgb(0, 89, 255));
    font-weight: bolder;
    transition: .2s;
}

.btn-links:hover {
    color: #ffffff;
}

.card-body {
    padding-left: 1em;
}

.competencias ul {
    /* list-style: none; */
    list-style-image: linear-gradient(#DDFF01, #2e0);
    padding-left: 1em;
}

.competencias p {
    margin-bottom: 0;
}

.link-do-projeto {
    text-align: center;
    width: 100%;
    margin: .5em 0;
}

.link-do-projeto a {
    color: #ffffff;
    transition: 0.2s;
}

.link-do-projeto a:hover {
    color: #c9c9c9;
}


/* .lista-de-competencias {}

.link-do-projeto div {} */


/* 
.conteudo {
    display: none;
} */