body {
    color: white;
}

.cabecalho {
    font-family: 'Oxygen', sans-serif;
    background-color: #1e2226;
}

.rodape {
    font-family: 'Oxygen', sans-serif;
    background-color: #1e2226;
}

.meuNome:hover {
    color: #2e0;
    transition: 0.5s;
}

#menuSite a:hover {
    color: #2e0;
    transition: 0.5s;
}

.h1 {
    font-size: 2rem;
}

.conteudo-principal h3,
h4 {
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    text-transform: uppercase;
}

.h4,
h4 {
    font-size: 1.2rem;
}

.titulos {
    position: relative;
}

.titulos::before {
    content: '';
    display: inline-block;
    height: 18px;
    width: 3px;
    border-radius: 5px;
    margin-right: 10px;
    background-image: linear-gradient(#DDFF01, #2e0);
}

.meuNome::first-letter {
    color: black;
    border-radius: 5px;
    padding: 0.1em;
    display: inline-block;
    background-image: linear-gradient(#DDFF01, #2e0);
    content: "M";
    font-weight: bold;
}

.sobre {
    position: relative;
}

.sobre p {
    float: left;
}

section {
    clear: both;
}

.minha-foto {
    display: inline-block;
    float: right;
}

.minha-foto img {
    border: 0 solid black;
    border-radius: 100%;
    width: 10%;
}