.main {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100%;
}

@media (max-width: 768px) {
  .ajuste {
    display: block !important;
    flex-direction: none;
  }
}

html,
body,
#root {
  height: 100%;
}
